/* https://quarto.org/docs/output-formats/html-themes.html#sass-variables */
/* https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss */

/* Navbar */
.navbar {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.quarto-color-scheme-toggle {
}

/* Body */
.body {
   padding:0px;
   margin: 0px;
}

/* Footer */
.nav-footer-center .fa-brands,
.nav-footer-center .fa-solid,
.nav-footer-center .ai {
  font-size: 1.25em;
}

.footer {
  font-size: 1.33rem;
  line-height: 1;
}

/* Title */
.title, .h1 {
  font-size: 3em;
  font-style: bold;
  font-weight: 500;
  line-height: 1.1em;
  text-align: left;
}

/* Subtitle */
.quarto-title p {
  font-family: "Petrona";
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
}

/* Hero heading */
#hero-heading {
  text-align: justify;
}

/* About entity */
.quarto-about-solana {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* About image */
.about-image.round {
  width: 16em !important;
  height: 16em !important;
  margin-right: 1em;
  margin-top: -1.85em;
}

/* About content */
.about-contents {
  max-width: 75rem !important;
}

/* About links */
.about-links .fa-brands,
.about-links .fa-solid,
.about-links .ai {
  font-size: 1.25em;
  margin-left: 0.1em;
  vertical-align: middle;
}

/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {

/* NB! this is a direct lift from https://github.com/spcanelon/silvia/tree/main/assets/index.css */
  .entity-contents {
    order: 2 !important;
    margin-top: -4em !important;
    text-align: center !important;
  }

  .subtitle {
    text-align: center !important;
  }

  .about-entity .about-links {
    justify-content: center !important;
    font-size: 1em !important;
  }

  .about-contents {
    padding: 0 !important;
  }

  .about-links.subtitle {
    justify-content: center !important;
  }

  .about-image {
    order: 1 !important;
    padding: 0.5em !important;
  }



/* ----- mobile-only sticky footer ----- */

  /* Only override html/body on mobile */
  html, body {
    height: 100%;
  }

  /* Wrapper for the entire Quarto page */
  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* Main content grows to push footer down */
  .page-content {
    flex: 1;
  }

  footer.site-footer {
    flex-shrink: 0;
  }
}
