/*-- scss:defaults --*/

// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

// Colors
$theme-primary-dark: #181818;
$theme-font-dark: #ccc;
$theme-link-dark:  #75AADB;

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$font-family-sans-serif: "Noto Sans", sans-serif;

// Body
$body-bg: lighten($theme-primary-dark, 5%);
$body-color: $theme-font-dark;
$link-color: $theme-link-dark;

// Navbar
$navbar-bg: $theme-primary-dark;

/*-- scss::rules --*/
.dropdown-menu .dropdown-item {
  background-color: $theme-primary-dark !important;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: lighten($theme-primary-dark, 5%) !important;
}