// https://quarto.org/docs/output-formats/html-themes.html#sass-variables
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

/*-- scss:defaults --*/

// Colors
$theme-primary-light: #fdf6e3 ;
$theme-font-dark: #ccc;
$theme-link-dark:  #75AADB;

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$font-family-sans-serif: "Noto Sans", sans-serif;@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Body
$body-bg: darken($theme-primary-light, 2%);

// Navbar
$navbar-bg: darken($theme-primary-light, 1%);

/*-- scss::rules --*/
// Mobile (from Silvia Canelon: https://github.com/spcanelon/silvia/blob/main/assets/silvia-theme-light.scss)

@media screen and (max-width: 991.98px) {
  // social media links
  .about-entity .about-links {
    flex-direction: row !important;
    justify-content: center !important;
  }

  // navigation footer
  .nav-footer {
      flex-direction: row;
    }

  .nav-footer-center {
    order: 1 !important;
    flex-basis: 100%;
    margin: 0 0 -1.2em 0;
  }

  .nav-footer-right {
    order: 2 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .nav-footer-left {
    order: 3 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .navbar .quarto-navbar-tools {
    text-align: left;
  }
}